@font-face {
    font-family: "Acumin Variable Concept";
    src: local("Acumin Variable Concept") url("./Acumin-Variable-Concept.ttf") format("truetype");
}

body {
    font-family: "Acumin Variable Concept";
}

.navbar {
    background-color: white;
    overflow: hidden;
}


#img-logo {
    float: left;
    /* margin: 10px; */
    height: 70px;
    width: 178px;
    margin-left: 30px;
    height: 60px;
    width: 129px
}
.circle-step{
    margin-top: -18px; margin-left: 12px; padding-left: 30px; padding-right: 30px;
}

#second-option-menu {
    margin-left: 10px;
    border-left: solid 1px #494747;
    padding-right: 10px;
    border-right: solid 1px #494747;
    padding-left: 10px;
    margin-right: 10px;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #494747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 45px;
}

.navbar a:hover {
    background-color: #f1eeee;
    color: black;
}

.font-color-secunday {
    color: #494747;
}

.card-items {
    background-color: #eff1f4;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    transition: transform 0.6s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
}


.card-items:hover {
    transform: scale(1.2);
    border: 0.5px solid black;
    background-color: #fff;
}

.card-section {
    display: flex;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}

.section-blue {
    background-color: #09335f;
    margin-top: 40px;
}

select {
    width: 60%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #09335f;
    padding-left: 10px;
    font-size: 15px;
}

.input-form {
    height: 45px;
    width: 58%;
    padding-left: 10px;
    border: 1.5px solid #09335f;
    font-size: 15px;
}

.button-primary {
    border: none;
    margin-top: 20px;
    background-color: #09335f;
    color: #fff;
    width: 60%;
    height: 45px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.card-simulator {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 10%;
    background-color: #eff1f4;
    border-radius: 10px;
    padding-left: 6%;
    padding-right: 6%;
    color: #09335f;
    padding-top: 5px;
    padding-bottom: 30px;
}

.card-info-simulator {
    display: flex;
    border-top: 1px solid #09335f;
    padding-top: 30px;
    padding-bottom: 20px;

}

.font-white {
    color: #fff;
}

.font-blue {
    color: #09335f;
}

.background-blue {
    background-color: #09335f;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: start;
}

.big-title {
    font-size: 30px;
}

.footer-carrousel {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 30px;
}

#input-contact {
    margin-top: 10px;
    width: 50%;
    border-radius: 6px;
    height: 30px;
    border: none;
}

.display {
    display: flex;
}

.flex-1 {
    flex: 1;
}


.card-steps {
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 30px;
    padding-top: 10px;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-without-shadow {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}


.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    padding: 30px;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

/*  dejar comentarios */

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 0%;
}

.carousel-control.next {
    right: 0%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.social_media {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.icon {
    display: flex;
    flex-direction: column;
}

/* #09335f; */

.border-blue {
    border: 0.5px solid #09335f;
}

.border-radius {
    border-radius: 10px;
}



.card-properties {
    border-radius: 10px;
    margin-right: 9%;
    margin-left: 9%;
    /* padding-left: 30px; */
}


.image-properties {
    border-radius: 10px;
    width: 100%;
}

body {
    font-family: 'Optima', sans-serif;
    margin: 0%;
}

.underline {
    text-decoration-line: underline
}

/* Estilos generales del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Botón del dropdown */
.dropbtn {
    /* background-color: #3498DB; */
    /* color: white; */
    /* padding: 10px; */
    /* border: none; */
    cursor: pointer;
}



/* Contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Enlace dentro del dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambia el color del enlace al pasar el mouse por encima */
.dropdown-content a:hover {
    background-color: #3498DB;
    color: white;
}

/* Muestra el dropdown cuando se pasa el mouse por encima del botón */
.dropdown:hover .dropdown-content {
    display: block;
}
.overandunderline{
    text-decoration-line: underline overline
}